.btn-scrolltop {
  /*fixed para que el boton flote */
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  background: rgb(10, 151, 158);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100%;
  /*PARA QUE CAMBIE LA FORMA DEL CURSOR*/
  cursor: pointer;
  /*TRASLADAR EL BOTON HACIA ABAJO PARA SACARLO DE VISTA*/
  transform: translateY(100px);
  transition: 0.3s;
}
.btn-scrolltop-on {
  transform: translateY(0);
}
