html{
    /* background: url("background.jpg") no-repeat; */
	background-size: cover;
    min-height: 100%;
}

body{
    background:none;
    background-color: antiquewhite;
}

#formulario-3{
    background-color: rgba(170, 113, 113, 0.4);
    max-width: 800px;
    margin: auto;
    padding: 40px;
    color: rgba(141, 99, 99, 0.747);
}

#formulario-3 h2{
    padding-bottom: 20px;
    margin: 10px 20px;
    font-size: 24px;
}

#formulario-3 hr{
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left:3px;
    border: 1px solid #cccccc;

}

#formulario-3 .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}

.form-group input {
    background-color: antiquewhite;
}

/* .form-group input:focus,
.form-group input:valid {
    outline: 0;
}

.form-group label{
    
    pointer-events: none;
}

.form-group label span {
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-group input:focus+label span,
.form-group input:valid+label span {
    color: rgba(141, 99, 99, 0.747);
    transform: translateY(-30px);
} */

#formulario-3 .form-group{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#formulario-3 .radio-inline{
    margin-left: 10px;
    margin-right: 10px;
}

#formulario-3 .gender{
    width: 30%;
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#formulario-3 .btn{
    width: 36%;
    margin: 20px auto 0;
    display: block;
    outline: none;
    background-color: antiquewhite;
}

@media screen and (max-width: 800px){
    #formulario-3 .form-group{
        width: 45%;
    }

    #formulario-3{
        margin-top: 0;
    }
}

@media screen and (max-width: 560px){
    #formulario-3 .form-group{
        width: 100%;
        margin-left: 0;
    }

    #formulario-3 h2{
        text-align: center;
    }
}
