body {
  background-color: antiquewhite;
  display: flexbox;
  flex-direction: column;
  align-items: auto;
  justify-content: auto;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

a {
  font-weight: bold;
}

#barraindex {
  background-color: rgb(239, 151, 119);
}

#carouselExampleCaptions {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.bd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;

  content: "";
  background-image: linear-gradient(
    rgba(var(--bd-violet-rgb), 1),
    rgba(var(--bd-violet-rgb), 0.95)
  );
}
.slide img {
  height: 120vh;
}

.navbar-custom {
  background-color: rgb(239, 151, 119);
}

#nombre {
  font-style: italic;
}

.card-link {
  float: right;
  line-height: 35px;
  font-size: 30px;
  color: black;
}

.card-link1 {
  font-size: 30px;
  float: left;
  line-height: 35px;
  color: black;
}

.navbar {
  font-size: 20px;
}

.dropdown-menu {
  background-color: rgb(245, 221, 189);
}

.titulo {
  margin-top: 10px;
}

#disabledSelect {
  margin-top: 45px;
  font-size: 20px;
  /* Ajusta el tamaño de fuente */
  /* width: 300px; */
  /* Ajusta el ancho del select */
}

.card {
  background-color: rgb(245, 221, 189);
}

.card-img-top {
  border-color: black;
  border-width: 20px;
}

.list-group-item {
  background-color: rgb(245, 221, 189);
}

.horarioentrega {
  font-weight: bold;
}

#familia {
  text-align: center;
  font-weight: bold;
}

.card-img-center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

option {
  color: rgba(141, 99, 99, 0.747);
  font-family: inherit;
}

.form-select {
  color: rgba(141, 99, 99, 0.747);
  font-family: inherit;
}

.quienesomos {
  text-align: center;
  font-weight: bold;
}

.img-normalizada {
  width: auto;
  height: 600px;
  object-fit: cover;
}

.container.somos {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}

.img-normalizada {
  width: 50%;
  height: 10%;
}

.parrafosdescripcionnosotros {
  font-weight: bold;
}

.list-group-item {
  font-weight: bold;
}

#carrito {
  width: 50px;
  margin-left: 50px;
}

.arriba {
  position: fixed;
  bottom: 10px;
  /*arriba*/
  right: 10px;
  z-index: 999;
  /* para mover objetos en eje z , osea sobre el codigo con una posicion fixeada*/
  font-size: 30px;
  /* Ajusta el tamaño del icono  */
  color: #000;
  /* Ajusta el color */
}
