{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock title%}</title>
    {%block css%}{%endblock css%}
    <link rel="stylesheet" href="{%static 'ccs/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'ccs/bootstrap/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{%static 'ccs/bootstrap/login.css'%}">
    <link rel="stylesheet" href="{%static 'ccs/bootstrap/uf.css'%}">



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container-fluid">
            <p class="text-center font-weight-bold"><a href="/index"><img style="width: 100px; margin-top: 15px;"
                        src="{%static 'img/logovieja.png'%}" alt=""></a></p>
            <a class="navbar-brand" href="#" id="nombre"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated and user.is_superuser %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quienessomos">Mantenedor Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mapa">Mantenedor productos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!-- Button trigger modal -->
                        <a href="/logout" class="btn"
                            style="background-color: rgba(185, 134, 134, 0.747);margin-right: 10px;">
                            Logout
                        </a>  
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quienessomos">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mapa">Visitanos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn"
                            style="background-color: rgba(185, 134, 134, 0.747);margin-right: 10px;"
                            data-bs-toggle="modal" data-bs-target="#exampleModalLogin">
                            Ingresa
                        </button>
                    </li>
                    <li class="nav-item">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn"
                            style="background-color: rgba(185, 134, 134, 0.747);margin-right: 10px;"
                            data-bs-toggle="modal" data-bs-target="#exampleModalRegister">
                            Registrese
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn" style="background-color: rgba(185, 134, 134, 0.747);" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-cart3" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </button>
                    </li>
                </ul>
                {% endif%}
                <!-- Modal Login -->
                <div class="modal fade" id="exampleModalLogin" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="container">
                                <form action="/login" method="POST" id="form" class="form">
                                    {% csrf_token %}
                                    <div>
                                        <br>
                                        <div class="header" id="borde1" style="background-color: #f7f7f7;">

                                            <h3>Iniciar Sesión</h3>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-control">
                                        <label for="username">Usuario</label>
                                        <input type="text" placeholder="Rojas Calderon" id="username" name="username" />
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>

                                    </div>
                                    <div class="form-control">
                                        <label for="password">Contraseña</label>
                                        <input type="password" placeholder="Contraseña" id="contrasena"
                                            name="contrasena" />
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>

                                    </div>
                                    <div>
                                        <button id="btn-send-forms" class="btn btn-primary my-4" type="submit"
                                            style="background-color: #c25f26; border: #c25f26; ">ENVIAR</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Registro -->
                <div class="modal fade" id="exampleModalRegister" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="container">
                                <form action="/registro" method="POST" id="form" class="form">
                                    {% csrf_token %}
                                    <div>
                                        <br>
                                        <div class="header" id="borde1" style="background-color: #f7f7f7;">
                                            <h3>Crear cuenta</h3>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-control">
                                        <label for="first-name">Nombre</label>
                                        <input type="text" placeholder="Carmelita" id="nombre" name="nombre" required />
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>

                                    </div>
                                    <div class="form-control">
                                        <label for="last-name">Apellidos</label>
                                        <input type="text" placeholder="Rojas Calderon" id="apellido" name="apellidos"
                                            required />
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </div>
                                    <div class="form-control">
                                        <label for="username">Usuario</label>
                                        <input type="text" placeholder="Rojas Calderon" id="username" name="username"
                                            required />
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>

                                    </div>
                                    <div class="form-control">
                                        <label for="text">Email</label>
                                        <input type="text" placeholder="@email.com" id="email" name="email" required />
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>

                                    </div>
                                    <div class="form-control">
                                        <label for="password">Contraseña</label>
                                        <input type="password" placeholder="Contraseña" id="password" name="contrasena"
                                            required />
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </div>
                                    <div>
                                        <button id="btn-send-forms" class="btn btn-primary my-4" type="submit"
                                            style="background-color: #c25f26; border: #c25f26;">ENVIAR</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- CONTENIDO DINAMICO DE PAGINA INDEX -->

    {%block content%}
    {%endblock content%}

    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <footer class="bg-dark text-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
                    <h5 class="text-light mb-4">CONTACTO</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><i class="bi bi-geo-alt-fill me-2"></i>Manuel Montt 1687,
                            Temuco</li>
                        <li class="mb-2"><i class="bi bi-envelope-fill me-2"></i>panaderiacarmelita@gmail.com</li>
                        <li><i class="bi bi-telephone-fill me-2"></i>+56942018770</li>


                    </ul>
                    <br>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
                    <h5 class="text-light mb-4">HORARIO DE ATENCIÓN</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><i class="bi bi-clock me-2"></i><span class="text-light">Lunes
                                a viernes:</span> 07:00 -
                            22:00</li>
                        <li class="mb-2"><i class="bi bi-clock me-2"></i><span class="text-light">Sábados:</span> 08:00
                            - 21:00</li>
                        <li><i class="bi bi-clock me-2"></i><span class="text-light">Domingos:</span>
                            07:00 - 17:00</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 ">

                    <h5 class="text text-light mb-4">SÍGUENOS EN REDES SOCIALES</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a><span
                                class="text-light">@panaderiacarmelita</span></li>
                        <li class="mb-2"><a
                                href="https://web.facebook.com/people/Panaderia-y-Churrasqueria-La-Carmelita/100057595233262/?_rdc=1&_rdr"
                                class="text-light me-3"><i class="bi bi-facebook"></i></a><span
                                class="text-light">/Panaderia-y-Churrasqueria-La-Carmelita</span></li>
                        <li><a href="https://www.instagram.com/panaderialacarmelita/" class="text-light me-3"><i
                                    class="bi bi-instagram"></i></a><span
                                class="text-light">@panaderialacarmelita</span></li>

                    </ul>

                </div>
                <hr class="bg-light my-5">
            </div>
        </div>

        <div class="container text-center">


            <p class="mb-0 text-light">&copy; 2023 Panaderia Carmelita. Todos los derechos reservados.
            </p>
            <p class="mb-0 text-light">Información Legal</p>
            <p class="mb-0 text-light">Términos y Condiciones de Uso</p>
            <p class="mb-0 text-light">Política de Privacidad</p>


        </div>
        <div class="container text-center">

            <hr class="bg-light my-5">
            <label for="fecha">Dolar por fecha</label>
            <input type="date" id="fecha" name="fecha">
            <button type="button" onclick="dolarHoy()">Buscar</button>
            <div class="uf-container">

                <p id="datos-uf"></p>
                <hr class="bg-light my-5">

                <p id="datos-uf2"></p>
            </div>
            <hr class="bg-light my-5">

            <p class="mb-0 text-light">&copy; 2023 Panaderia Carmelita. Todos los derechos reservados.</p>
            <p class="mb-0 text-light">Información Legal</p>
            <p class="mb-0 text-light">Términos y Condiciones de Uso</p>
            <p class="mb-0 text-light">Política de Privacidad</p>


        </div>
    </footer>

    <script src="{%static 'js/dolar.js'%}"></script>
    <script src="{%static 'js/api.js'%}"></script>

</body>

</html>