<br>
<div class="alert alert-primary" role="alert" style="background-color: lightcoral;">
    <table class="table table-bordered" style="border-color: transparent;">
        <thead>
            <tr>
                <th colspan="3" class="text-center">CARRITO</th>
            </tr>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <tr >
                <td>{{ value.nombre }}</td>
                <td>{{ value.cantidad }}</td>
                <td>${{ value.acumulado }}</td>
            
            </tr>
            <tr class="row text-center">
                <td >
                    <a href="{% url 'Add' value.producto_id %}" ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                      </svg></a>
                    <a href="{% url 'Sub' value.producto_id %}" ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-patch-minus-fill" viewBox="0 0 16 16">
                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM6 7.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1z"/>
                      </svg></a>
                </td>
            </tr>   
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">Sin productos</div>
                </td>
            </tr>
            {% endif %}
        </tbody>

        <tr>
            <th scope="row">Total:</th>
            <td colspan="2">${{ total_carrito }}</td>
        </tr>
    </table>
    <hr>


    <div class="row text-center">
        <div class="col-12 d-flex justify-content-between">
            <a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a>
            <a href="{% url 'CLS' %}" class="btn btn-success" onclick="mostrarMensaje()">Comprar</a>
        </div>
    </div>
    <script>
        function mostrarMensaje() {
            alert("Compra exitosa. ¡Gracias por tu compra!");
        }
    </script>

    <style>
        @media (max-width: 576px) {
            .btn-adjust {
                font-size: 0.8rem;
                padding: 0.2rem 0.4rem;
            }
        }
    </style>

</div>